.container {
    height: 150vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, cyan, yellow);
    
}
.tela {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}
.texto {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}
.botao {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.botao:hover{
    background-color: black;
}

.apresentacao {
    display: flex;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7
}
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui,-apple-system,Helvetica,Arial,sans-serif;
    background: #23232e;
    height: 8vh;
}